@font-face {
	font-family: 'Norse-Mapcons';
	src:url('../fonts/Norse-Mapcons.eot');
	src:url('../fonts/Norse-Mapcons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Norse-Mapcons.woff') format('woff'),
		url('../fonts/Norse-Mapcons.ttf') format('truetype'),
		url('../fonts/Norse-Mapcons.svg#Norse-Mapcons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'Norse-Mapcons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-country:before {
	content: "\61";
}
.icon-number:before {
	content: "\62";
}
.icon-military:before {
	content: "\64";
}
.icon-close:before {
	content: "\63";
}
.icon-play:before {
	content: "\65";
}
.icon-pause:before {
	content: "\66";
}
.icon-info:before {
	content: "\67";
}
.icon-open:before {
	content: "\68";
}
.icon-closed:before {
	content: "\69";
}
.icon-threattype:before {
	content: "\6a";
}
.icon-down:before {
	content: "\6b";
}
.icon-one:before {
	content: "\6c";
}
.icon-five:before {
	content: "\6d";
}
.icon-ten:before {
	content: "\6e";
}
.icon-twentyfive:before {
	content: "\6f";
}
.icon-onehundred:before {
	content: "\70";
}
.icon-twohundred:before {
	content: "\71";
}
.icon-fivehundred:before {
	content: "\72";
}
.icon-googleplus:before {
	content: "\73";
}
.icon-facebook:before {
	content: "\74";
}
.icon-linkedin:before {
	content: "\75";
}
.icon-youtube:before {
	content: "\76";
}
.icon-twitter:before {
	content: "\77";
}
